# 유저의 별점 예측하기 (Rating_prediction)

- surprise를 활용한 유저기반의 별점 예측 추천시스템

```
uv add scikit-surprise
uv pip uninstall numpy
uv pip install "numpy<2"
```

- https://visualstudio.microsoft.com/ko/visual-cpp-build-tools/
- 데스크탑 버전
- python ver 3.11 로 변경해야함 (python-version, pyproject.toml 파일)
- .venv 지우고, uv sync
- uv add scikit-surprise > uv pip uninstall numpy > uv pip install "numpy<2"

In [3]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader
from surprise.dataset import DatasetAutoFolds
import pandas as pd

In [4]:
ratings = pd.read_csv("data/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
ratings.to_csv("data/ratings_nohead.csv", index=False, header=False)

In [6]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [7]:
ratings["rating"].unique()

array([2.5, 3. , 2. , 4. , 3.5, 1. , 5. , 4.5, 1.5, 0.5])

In [8]:
reader = Reader(line_format="user item rating timestamp", sep=",", rating_scale=(0.5, 5))
data_folds = DatasetAutoFolds(ratings_file="data/ratings_nohead.csv", reader=reader)
trainset = data_folds.build_full_trainset()     # 100프로 trainset으로 (testset 만들지않고)

model = SVD(n_factors=50, random_state=42)      # n_factors : 차원 개수 -> 50차원의 잠재요인 공간에 학습시킴
model.fit(trainset)

In [9]:
y_pred = model.predict("9", "3")    # 사용자 "9"가 아이템 "3"에 대해 어떤 평점을 줄지
y_pred

# est : 예측값 (이 사람이 영화를 본다면 3.09점의 평점을 내릴것 같다)

Prediction(uid='9', iid='3', r_ui=None, est=3.092324541202098, details={'was_impossible': False})

In [10]:
movies = pd.read_csv("data/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
ratings[ratings["userId"] == 9]["movieId"]  # 9번 유저 데이터에서 movieId 만 가져옴 -> 본 영화를 가져옴
movies["movieId"]

# 안 본 영화를 찾으려면 : 전체 영화 - 내가 본 것 (집합)
set(movies["movieId"]) - set(ratings[ratings["userId"] == 9]["movieId"])

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 32797,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 65585,
 52,
 53,
 54,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 65601,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 32840,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 32853,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 65638,
 107,
 108,
 65642,
 110,
 111,
 112,
 113,
 114,
 32882,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 124,
 125,
 126,
 32892,
 129,
 130,
 131,
 132,
 32898,
 65665,
 135,
 137,
 98441,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 32943,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 98491,
 193,
 194,
 195,
 196,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 211,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 98585,
 285,
 98587,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 98607,
 98611,
 312,
 313,
 314,
 315,
 316,
 317,
 319,
 320,
 321,
 322,
 33085,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 33124,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 33145,
 33154,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 33158,
 33162,
 33164,
 33166,
 401,
 33171,
 405,
 407,
 408,
 409,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 498,
 499,
 500,
 501,
 502,
 98803,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 98829,
 526,
 528,
 529,
 33296,
 531,
 532,
 533,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 33312,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 66090,
 558,
 559,
 561,
 562,
 563,
 564,
 565,
 66097,
 567,
 568,
 569,
 571,
 573,
 574,
 575,
 577,
 580,
 581,
 582,
 585,
 586,
 587,
 588,
 589,
 590,
 33358,
 592,
 594,
 595,
 596,
 597,
 66130,
 599,
 600,
 603,
 98908,
 605,
 606,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 33380,
 619,
 620,
 621,
 626,
 627,
 628,
 98933,
 630,
 631,
 632,
 633,
 635,
 66171,
 637,
 638,
 639,
 640,
 131714,
 647,
 648,
 650,
 651,
 131724,
 653,
 656,
 98961,
 659,
 98963,
 661,
 662,
 663,
 664,
 665,
 66198,
 667,
 668,
 33437,
 670,
 671,
 66200,
 673,
 674,
 66203,
 678,
 679,
 680,
 681,
 685,
 687,
 688,
 690,
 691,
 692,
 694,
 695,
 696,
 697,
 698,
 700,
 99005,
 702,
 703,
 704,
 705,
 99007,
 707,
 708,
 709,
 710,
 711,
 66246,
 714,
 715,
 718,
 719,
 720,
 721,
 722,
 724,
 725,
 726,
 33493,
 728,
 33495,
 99030,
 731,
 33499,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 746,
 747,
 748,
 750,
 753,
 754,
 755,
 756,
 757,
 131830,
 759,
 760,
 761,
 762,
 66297,
 764,
 765,
 766,
 767,
 769,
 66310,
 775,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 66317,
 33558,
 99089,
 793,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 66335,
 808,
 809,
 810,
 99106,
 99112,
 813,
 99114,
 99117,
 816,
 818,
 33587,
 820,
 824,
 33592,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 66371,
 844,
 845,
 846,
 33615,
 848,
 849,
 850,
 851,
 852,
 33621,
 854,
 858,
 861,
 864,
 865,
 866,
 867,
 869,
 870,
 33639,
 872,
 875,
 876,
 33646,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 889,
 891,
 892,
 893,
 33660,
 66427,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 33688,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 99270,
 968,
 969,
 970,
 971,
 972,
 973,
 66509,
 99273,
 976,
 99276,
 132046,
 980,
 981,
 982,
 33750,
 984,
 986,
 987,
 988,
 990,
 991,
 992,
 33760,
 994,
 99296,
 996,
 997,
 998,
 999,
 132074,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1040,
 1041,
 1042,
 1043,
 1044,
 1046,
 1047,
 1049,
 1050,
 1051,
 33817,
 1053,
 1054,
 1055,
 1056,
 1057,
 33826,
 1060,
 1061,
 33830,
 1063,
 1064,
 66596,
 1066,
 1067,
 1068,
 1069,
 33834,
 33836,
 33838,
 1073,
 132146,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1111,
 1112,
 1113,
 1114,
 33880,
 99415,
 1120,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 33896,
 1135,
 1136,
 1137,
 33903,
 99437,
 164977,
 164979,
 33912,
 ...}

In [12]:
# 특정유저(userID)가 안본 영화 찾기
def get_unseen_surprise(userId) :
    return list(set(movies["movieId"]) - set(ratings[ratings["userId"] == userId]["movieId"]))

In [13]:
unseen_movies = get_unseen_surprise(33)

In [14]:
movies[movies["movieId"] == int(7)]["title"]

6    Sabrina (1995)
Name: title, dtype: object

In [15]:
pred_result = []

for movieId in unseen_movies :
    result = model.predict("9", str(movieId))
    data = {}                   # {"id":1, "rating":3.5, "title":"Avatar"}
    data["id"] = result.iid     # iid : 내가 평점을 매길 영화 id
    data["rating"] = result.est # est : 평점 예측값
    data["title"] = movies[movies["movieId"] == int(result.iid)]["title"].iloc[0]
    pred_result.append(data)

result_df = pd.DataFrame(pred_result)
result_df.sort_values("rating", ascending=False)[0:5]

        id    rating                           title
851    969  4.498787       African Queen, The (1951)
755    858  4.453779           Godfather, The (1972)
797    913  4.450571      Maltese Falcon, The (1941)
1063  1221  4.434328  Godfather: Part II, The (1974)
2956  3462  4.390097             Modern Times (1936)