In [ ]:
# https://www.kaggle.com/datasets/hellbuoy/car-price-prediction
# 가격예측 -> '회귀'
# kaggle의 car-price-prediction Multiple Linear Regression 데이터를 활용하여 자동차의 가격예측하는 모델을 생성
# 학습용 데이터 비율은 8:2
# randomstate = 42 로 설정
# 모델 제한 없음
# 평가지표 : R2

In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("data/CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [36]:
df_raw = df.copy()

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [38]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [39]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
# symboling
# CarName
# fueltype
# aspiration
# doornumber
# carbody
# drivewheel
# carwidth
# curbweight
# enginetype
# cylindernumber
# enginesize
# horsepower

# "symboling", "CarName", "fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "carwidth", "curbweight", "enginetype", "cylindernumber", "enginesize", "horsepower"

In [40]:
# VIF(다중공선성) 확인
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import pandas as pd

# 예: 수치형 변수만 선택
X = df[["enginesize", "horsepower", "carwidth", "curbweight"]]

# 상수항 추가
X = add_constant(X)

# VIF 계산
vif = pd.DataFrame()
vif["변수"] = X.columns
vif["VIF 값"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif)

           변수        VIF 값
0       const  2864.998442
1  enginesize     4.777471
2  horsepower     3.029638
3    carwidth     4.032271
4  curbweight     6.887143

In [41]:
cols = ["symboling", "CarName", "fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "carwidth", "curbweight", "enginetype", "cylindernumber", "enginesize", "horsepower"]

df[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   symboling       205 non-null    int64
 1   CarName         205 non-null    object
 2   fueltype        205 non-null    object
 3   aspiration      205 non-null    object
 4   doornumber      205 non-null    object
 5   carbody         205 non-null    object
 6   drivewheel      205 non-null    object
 7   carwidth        205 non-null    float64
 8   curbweight      205 non-null    int64
 9   enginetype      205 non-null    object
 10  cylindernumber  205 non-null    object
 11  enginesize      205 non-null    int64
 12  horsepower      205 non-null    int64
dtypes: float64(1), int64(4), object(8)
memory usage: 20.9+ KB

In [42]:
# CarName 종류 확인
df["CarName"].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [43]:
# CarName 데이터 전처리 (제조사만 남기기)
df["CarName"] = df["CarName"].str.split(" ").str[0]

In [44]:
df["CarName"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [47]:
df["CarName"] = df["CarName"].replace("toyouta", "toyota")

In [49]:
df["CarName"] = df["CarName"].replace("vokswagen", "volkswagen")
df["CarName"] = df["CarName"].replace("vw", "volkswagen")

In [51]:
df["CarName"] = df["CarName"].replace("Nissan", "nissan")

In [52]:
df["CarName"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'volkswagen',
       'volvo'], dtype=object)

In [ ]:
# 범주형 변수 인코딩
# "CarName" -> 라벨인코딩
# "fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginetype", "cylindernumber" -> 원핫인코딩

In [62]:
from sklearn.preprocessing import LabelEncoder

In [63]:
le_CarName = LabelEncoder()
df["CarName_encoded"] = le_CarName.fit_transform(df["CarName"])
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName_encoded
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,1
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,23
201,202,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,23
202,203,-1,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,23
203,204,-1,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,23
204,205,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,23

In [ ]:
# 원핫인코딩
features = ["fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginetype", "cylindernumber"]
for feature in features :
    le = LabelEncoder()
    le_result = le.fit(df[feature])
    df[feature] = le_result.transform(df[feature])      # fit_transform 으로 한번에 가능
df.head()

In [67]:
df = pd.get_dummies(df, columns=["fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginetype", "cylindernumber"])
df

,car_ID,symboling,CarName,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_eight,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,1,3,alfa-romero,front,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,True,False,False,False,False
1,2,3,alfa-romero,front,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,True,False,False,False,False
2,3,1,alfa-romero,front,94.5,171.2,65.5,52.4,2823,152,...,False,True,False,False,False,False,True,False,False,False
3,4,2,audi,front,99.8,176.6,66.2,54.3,2337,109,...,False,False,False,False,False,True,False,False,False,False
4,5,2,audi,front,99.4,176.6,66.4,54.3,2824,136,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo,front,109.1,188.8,68.9,55.5,2952,141,...,False,False,False,False,False,True,False,False,False,False
201,202,-1,volvo,front,109.1,188.8,68.8,55.5,3049,141,...,False,False,False,False,False,True,False,False,False,False
202,203,-1,volvo,front,109.1,188.8,68.9,55.5,3012,173,...,False,True,False,False,False,False,True,False,False,False
203,204,-1,volvo,front,109.1,188.8,68.9,55.5,3217,145,...,False,False,False,False,False,False,True,False,False,False
204,205,-1,volvo,front,109.1,188.8,68.9,55.5,3062,141,...,False,False,False,False,False,True,False,False,False,False

In [68]:
df

,car_ID,symboling,CarName,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_eight,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,1,3,alfa-romero,front,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,True,False,False,False,False
1,2,3,alfa-romero,front,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,True,False,False,False,False
2,3,1,alfa-romero,front,94.5,171.2,65.5,52.4,2823,152,...,False,True,False,False,False,False,True,False,False,False
3,4,2,audi,front,99.8,176.6,66.2,54.3,2337,109,...,False,False,False,False,False,True,False,False,False,False
4,5,2,audi,front,99.4,176.6,66.4,54.3,2824,136,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo,front,109.1,188.8,68.9,55.5,2952,141,...,False,False,False,False,False,True,False,False,False,False
201,202,-1,volvo,front,109.1,188.8,68.8,55.5,3049,141,...,False,False,False,False,False,True,False,False,False,False
202,203,-1,volvo,front,109.1,188.8,68.9,55.5,3012,173,...,False,True,False,False,False,False,True,False,False,False
203,204,-1,volvo,front,109.1,188.8,68.9,55.5,3217,145,...,False,False,False,False,False,False,True,False,False,False
204,205,-1,volvo,front,109.1,188.8,68.9,55.5,3062,141,...,False,False,False,False,False,True,False,False,False,False

In [69]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price', 'CarName_encoded',
       'fueltype_diesel', 'fueltype_gas', 'aspiration_std', 'aspiration_turbo',
       'doornumber_four', 'doornumber_two', 'carbody_convertible',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'drivewheel_4wd', 'drivewheel_fwd', 'drivewheel_rwd',
       'enginetype_dohc', 'enginetype_dohcv', 'enginetype_l', 'enginetype_ohc',
       'enginetype_ohcf', 'enginetype_ohcv', 'enginetype_rotor',
       'cylindernumber_eight', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two'],
      dtype='object')

In [179]:
drop_cols = ["car_ID", "CarName", "enginelocation", "carheight", "wheelbase", "carlength", "fuelsystem", "boreratio", "stroke", "compressionratio", "peakrpm", "citympg", "highwaympg", "price"]
X_data = df.drop(drop_cols, axis=1)
y_data = df["price"]

In [180]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=42)

In [181]:
X_train

,symboling,carwidth,curbweight,enginesize,horsepower,CarName_encoded,fueltype_diesel,fueltype_gas,aspiration_std,aspiration_turbo,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_eight,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
66,0,66.1,2700,134,72,10,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
111,0,68.4,3075,120,95,14,False,True,True,False,...,False,False,False,False,False,True,False,False,False,False
153,0,63.6,2280,92,62,21,False,True,True,False,...,False,False,False,False,False,True,False,False,False,False
96,1,63.8,1971,97,69,13,False,True,True,False,...,False,False,False,False,False,True,False,False,False,False
38,0,65.2,2289,110,86,6,False,True,True,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,1,67.9,3139,181,160,13,False,True,True,False,...,False,True,False,False,False,False,True,False,False,False
14,1,66.9,3055,164,121,2,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
92,1,63.8,1938,97,69,13,False,True,True,False,...,False,False,False,False,False,True,False,False,False,False
179,3,67.7,3016,171,161,21,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
102,0,66.5,3296,181,152,13,False,True,True,False,...,False,True,False,False,False,False,True,False,False,False

In [77]:
# 6. 모델 학습 함수
from sklearn.metrics import classification_report

def train_model(model) :
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(classification_report(y_pred, y_test))

In [184]:
# 릿지
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

model = Ridge(alpha=0.5)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

9103771.507918978
2305.66094057553
0.8846806711074829

In [185]:
# 선형
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

8250466.215516525
2181.627503237741
0.8954896631361919

In [186]:
# 라쏘
from sklearn.linear_model import Lasso

model = Lasso(alpha=0.1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

8660965.221498365
2253.477530661166
0.8902897885743476

c:\Machine-Learning\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.604e+07, tolerance: 9.781e+05
  model = cd_fast.enet_coordinate_descent(

In [94]:
from sklearn.tree import DecisionTreeRegressor

In [188]:
# decision tree

model = DecisionTreeRegressor(max_depth=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

10166291.718875341
2164.422756097561
0.8712215110708277

In [139]:
# random forest
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=114, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

3877302.9167234823
1362.4216863500212
0.9508854138221051

In [189]:
# random forest
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=10020, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

3934738.3108286285
1374.114659606648
0.9501578679805689

In [167]:
# xgboost
import xgboost as xgb

In [194]:
model = xgb.XGBRegressor(
    objective ='reg:squarederror',
    n_estimators=1500,
    max_depth=5,
    random_state=42
)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(mean_squared_error(y_pred, y_test))
print(mean_absolute_error(y_pred, y_test))
print(r2_score(y_test, y_pred))

6213734.318982557
1687.7681499618902
0.9212893611226773